<div class="container">
    <br/><br/>
    <h3>Login Page!</h3>
     <br/>
     <img src="https://cdn-icons-png.flaticon.com/512/295/295128.png" style="height: 180px;">
     <hr/>
     <span style="color:red;font-weight: bold;">{{message}}</span>
    <form>
    <div class="form-group" style="width:50%;">
        <label>Username </label>
        <input #pusername type="text" name="username" class="form-control"/>
     </div>
 
     <div class="form-group" style="width:50%;">
       <label>Password </label>
       <input #ppassword type="password" name="password" class="form-control"/>
    </div>
 
    <div class="form-group" style="width:50%;">
     <label> </label>
     <br/>
     <button (click)="validate(pusername,ppassword);"  type="button" name="login" class="btn btn-primary">
       Login
      </button> 
 
  </div>
   </form> 
 
 </div>