<div class="container">
    <br/><br/>
    <h3>Signup Page!</h3>
     <br/>
     <img src="https://cdn-icons-png.flaticon.com/512/5721/5721113.png" style="height: 180px;">
     <hr/>
     <span style="color:red;font-weight: bold;"></span>
    <form>
    <div class="form-group" style="width:50%;">
        <label>Username </label>
        <input type="text" name="username" class="form-control"/>
     </div>
     <br/>
     <div class="form-group" style="width:50%;">
       <label>Password </label>
       <input  type="password" name="password" class="form-control"/>
    </div>
    <br/>
    <div class="form-group" style="width:50%;">
        <label>Email </label>
        <input  type="email" name="email" class="form-control"/>
     </div>
     <br/>
     <div class="form-group" style="width:50%;">
        <label>Mobile </label>
        <input  type="number" name="mobile" class="form-control"/>
     </div>
     <br/>
     <div class="form-group" style="width:50%;">
        <label>Gender</label>
        <select name="gender" class="form-control">
                <option>Male</option>
                <option>Female</option>
            </select>
     </div>
    
    <div class="form-group" style="width:50%;">
    
    <hr/>
     <button  type="button" name="login" class="btn btn-primary">
       Signup
      </button>
      &nbsp; &nbsp; 
      <button  type="button" name="cancel" class="btn btn-danger">
        Cancel
       </button> 
  </div>
   </form> 
 
 </div>